{% extends "base.html" %}

{% load i18n static %}

{% block css %}
<style>
   .col-sm-8 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
   body {
  background-image: url({% static 'img/shattered.png'%});
}
</style>
{% endblock%}

{% block title %}{% trans "Code - Sign Out" %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title"> <p>{% trans 'Are you sure you want to sign out?' %}</p></h5>
                <p class="card-text">
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <a href="" class="btn btn-outline-secondary">Cancel</a>
                    <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %} <i class="fas fa-check"></i></button>
                  </form>
                </p>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
