{% extends "base.html" %}

{% load i18n static widget_tweaks crispy_forms_tags %}

{% block css %}
<style>
   .col-sm-8 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
   body {
  background-image: url({% static 'img/shattered.png'%});
}
label {
    display: none;
}
</style>
{% endblock%}

{% block title %}{% trans "Code - Password Reset" %}{% endblock %}

{% block body %}
{% if user.is_authenticated %}
   {% include "account/snippets/already_logged_in.html" %}
   {% else %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card mb-1">
            <div class="card-body pb-2 pt-2">
                 <h4> <i class="fas fa-question-circle text-secondary"></i> Forgot your password</h4>
                    
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                        <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                        <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                    </ol>
            </div>
        </div>
            <div class="card">
              <div class="card-body text-center">
              
                  <form method="POST"  action="{% url 'account_reset_password' %}">
                    <div class="form-group">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {{ form|crispy }}

                            {% comment %} {% for field in form.visible_fields %}
                                <div class="form-group">
                                     {{ field|add_class:'form-control' }}
                                     {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endfor %} {% endcomment %}
                        </div>
                    <input class="btn btn-success" type="submit" value="{% trans 'Get New Password' %}" /> <a class="btn btn-danger" href="{% url 'account_login' %}">Back to Login</a>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

 