{% extends "base.html" %}

{% load i18n widget_tweaks static %} 

{% block title %} {% trans "Code - Signup" %} {% endblock %}  
 
  
{% block css %}
<style>
    a {
       text-decoration: none;
   }
   .fab:hover{
       -moz-transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
       -ms--transform: rotate(360deg);
       transform: rotate(360deg);
       -webkit-transition: all 0.7s;
       -moz-transition: all 0.7s;
       -o-transition: all 0.7s;
      -ms-transition: all 0.7s;
       transition: all 0.7s;
   }
    .fa-google {
        color: #ea4335;
    }
    .fa-facebook {
        color: #405d9d;
    }
    .fa-github {
        color: #24292e;
    }

   .col-sm-4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    body {
        background-image: url({% static 'img/shattered.png'%});  
    }
</style> 
{% endblock %}

{% block main_js %}<script src="{% static 'js/auth.js' %}"></script>{% endblock %}

 {% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card mt-5 mb-2">
                <header class="card-header">
                    <a href="{% url 'account_login' %}" class="float-right btn btn-outline-primary mt-1">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body pb-1">

                {% load account socialaccount %} 

                {% get_providers as socialaccount_providers %}
                <p class="text-center mb-4">
                {% for provider in socialaccount_providers %}
                    <a title="{{provider.name}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <i class="fab fa-{{provider.name|lower}}  {% if provider.name == 'Facebook' %} ml-5 mr-5 {% endif %}" style="font-size: 40px;"></i>
                    </a>
                {% endfor %}
                </p>

                <div class="text-center text-secondary">
                 <p>- OR -</p>
                </div>

                     <div id="reg_error" class="alert alert-danger" role="alert" style="display:none">
                        <p class="mb-0"><i class="fa fa-warning"></i>  user with username and email already exists!!!</p>
                    </div>

                    <div id="reg_error_username" class="alert alert-danger" role="alert" style="display:none">
                        <p class="mb-0"><i class="fa fa-warning"></i>  user already exists!!!</p>
                    </div>
                    <div id="reg_error_email" class="alert alert-danger" role="alert" style="display:none">
                         <p class="mb-0"><i class="fa fa-warning"></i>  user with email already exists!!!</p>
                    </div>

                    <form id="auth_form" method="post" data-validate-username-url="{% url 'check_user' %}" action="{% url 'account_signup' %}" novalidate>
                        {% csrf_token %} 
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
                        {% endif %}

                        <div class="form-group mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
                                </div>
                                <input name="username" class="form-control" placeholder="Choose a username" type="text" id="id_username" required>
                            </div>
                            <small class="form-text text-muted"></small>
                        </div>
                        <!-- form-group end.// -->


                       <div class="form-group mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input name="email" class="form-control" placeholder="Enter a valid email address" type="email" id="id_email" maxlength="254" required>
                            </div>
                        </div> 
                        <!-- form-group end.// -->
                        
                        <!-- form-row.// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="password" class="form-control" placeholder="Enter a password" type="password" id="id_password1" minlength="5" required>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="password2" class="form-control" placeholder="Confirm your password" type="password" id="id_password2" minlength="5" required>
                            </div>
                        </div>
                        <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" onclick="checkForm()" class="btn btn-primary btn-block"> <i class="fas fa-check-circle"></i>  </button>
                        </div>
                        <!-- form-group// -->
                       
                    </form>
                </article>
                <!-- card-body end .// -->
                <div class="border-top card-header text-center">Have an account? <a href="{{ login_url }}">Log In</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
