{% extends "main.html" %}

{% load static %}

{% block title %}code | Question-Edit{% endblock title %}


{% block content %}
<div class="container p-2" style="border:1px solid lightgray;">
<p>Edit Answer</p>
  <form method="post" novalidate>
       {% csrf_token %}
       <div class="form-group">
        {{ form.body }}
         <small id="helpId" class="text-muted">Help text</small>
       </div>
       
      <button type="submit" class="btn btn-primary btn-sm">
       {% if 'update' in request.path %}
      Save Edits
      {% else %}
      Post your answer
      {% endif %}
     
      </button>
    </form>
</div>
{% endblock %}


