{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Home{% endblock title %}

{% block content %}
   {% for answer in answers %}

      <div class="container mb-1 pt-1 pb-1 pl-3" style="border:1px solid lightgray;">
        <div class="row">

         <div class="col-12">
          <small><b><a href="{% url 'question_detail' answer.question.pk %}">{{ answer.question.title }}</a></b></small>
         </div>

          <div class="col-12">
            {% for tag in answer.question.tags.all %}
             <small><a href="{% url 'tag_question' tag.pk %}" class="badge badge-info badge-pill">{{ tag }}</a></small>
            {% endfor %}
         </div>

         <div class="col-12">
             <small class="">
               <b>asked by: </b><a href="" class="mr-2">{{ answer.question.asked_by }}</a>
               <b>posted: </b><span>{{ answer.question.posted_on|naturaltime}}</span>
             </small>
         </div>

         <div class="col-12">
             <small>
                {{ answer.text|safe }}
             </small>
         </div>

        </div>
      </div>
    {% endfor %}
{% endblock %}
