{% extends "main.html" %}

{% load static crispy_forms_tags markdown_deux_tags %}

{% block title %}Edit - Code{% endblock title %}


{% block content %}

   <div class="text-center mobile">
     <div class="btn-group btn-group-sm mb-3">
       <a class="btn btn-sm text-secondary"  href="{% url 'question' %}" role="button">Questions</a>
       <a class="btn btn-sm text-secondary" href="{% url 'tags' %}" role="button">Tags</a>
       <a class="btn btn-sm text-secondary" href="{% url 'users' %}" role="button">Users</a>
       <a class="btn btn-sm text-secondary" href="{% url 'ask_question' %}" role="button">Ask</a>
     </div> 
   </div> 

<div class="row  justify-content-center">
    <div class="col-12 mt-5 laptop">
         <h3 class="mt-5"></h3>
      </div>      
        
     <div class="col-sm-9">
         <div class="card mb-2">
             <div class="card-header">
                 <i class="fas fa-plus mr-3" id="click"></i>
                 <a class="card-link" data-toggle="collapse"  id="question-toggle" href="#collapseQuestion">
                    <span id="inner">Show</span> Question
                 </a>
             </div>
             <div id="collapseQuestion" class="collapse hide">
                 <div class="card-body">
                     <p><b>{{ answer.question.title }}</b></p>
                     <span class="laptop" style="font-size:14px">{{ answer.question.body|markdown }}</span>
                 </div>
             </div>
         </div>

      <div class="card mb-3">
         <div class="card-body">
         <small class="mobile"><b>{{ answer.question.title }}</b></small>
<!--         <div class="laptop mb-3"><b>{{ answer.question.title }}</b></div>-->
<!--         <span class="laptop" style="font-size:14px">{{ answer.question.body|markdown }}</span>-->
         <h5 class="laptop">Answer</h5>
         <form method="post" novalidate>
             {{ form.media }}
            {% csrf_token %}
            <small>
            {{ form|crispy }}
            </small>
         </div>
      </div>
    
      <div class="form-group mb-3 laptop">
         <button type="submit" class="btn btn-primary btn-sm" disabled>
         {% if 'update' in request.path %}
         Save Edits
         {% else %}
        Post your answer
         {% endif %}
         </button>
         
         <a href="{% url 'question_detail' answer.question.pk answer.question.slug %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

      <div class="form-group mb-3 mobile text-center">
         <button type="submit" class="btn btn-primary btn-sm" disabled>
         {% if 'update' in request.path %}
         Save Edits
         {% else %}
         Post your answer
         {% endif %}
         </button>
         
         <a href="{% url 'question_detail' answer.question.pk answer.question.slug %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

    </form>
    
    </div>
    <div class="col-3 laptop">
       <div class="row">
          <div class="col-12 mb-3 pr-0">
           <div class="card shadow-sm" style="background-color:#fdf7e3">
            <div class="card-header">How to Format</div>
             <div class="card-body small pl-2 pr-2">
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> create code fences with backticks ` or tildes ~ </p>        
               <pre><code> ```
 like soo
 ``` </code></pre>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> add language identifier to highlight code </p>
               <pre><code> ```python
def function(foo):
    print(foo)
```  </code></pre>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> put returns between paragraphs </p>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> <em>_italic_</em> or <b>**bold**</b> </p>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> indent code by 4 spaces </p>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> backtick escapes <code>`like _so_`</code></p>
               <p><i class="fas fa-caret-right" aria-hidden="true"></i> quote by placing > at start of line</p>
               <p class="mb-2">
               <i class="fas fa-caret-right" aria-hidden="true"></i> to make links (use https whenever possible)
                <br>
                [example](https://example.com)
             </p>
             <span class="float-right"><a  href="#">formatting help >>></a>
             <br>
             <a href="#">answering help >>></a></span>
             </div>
           </div>
         </div>
         
       </div>
    </div>
  </div>

{% endblock %}


