{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Home{% endblock title %}

{% block content %}

  {% for question in questions %}

      <div  class="container mb-1 pt-1 pb-1 pl-3" style="border:1px solid lightgray;">
         <div class="row">

           <div class="col-12">
             <small><b><a href="{% url 'question_detail' question.pk question.slug %}">{{ question.title }}</a></b></small>
           </div>

           <div class="col-12">
            {% for tag in question.tags.all %}
             <small><a href="{% url 'tag_question' tag.pk %}" class="badge badge-info badge-pill">{{ tag }}</a></small>
            {% endfor %}
           </div>

           <div class="col-12">
             <small>
                <i class="fas fa-user-circle"></i>
                {% if user.is_authenticated %}
                {% if question.asked_by == user %}
                    <a href="{% url 'user_profile' user.pk %}">{{ question.asked_by }}</a>
                {% else %}
                    <a href="{% url 'user' user.pk %}">{{ question.asked_by }}</a>
                {% endif %}
                {% else %}
                  <a href="javascript:void(0)">{{ question.asked_by }}</a>
                {% endif %}
                
                <span class="text-secondary">|</span>
                <span>{{ question.posted_on|naturaltime}}</span>

                <div class="float-right">
                <span class="mr-2"><i class="fas fa-eye"  style="color: dodgerblue"></i> {{ question.views }}</span>
                <span class="mr-2"><i class="fas fa-comment-dots"></i> {{ question.answers.count|default_if_none:"0" }}</span>
                <span class="mr-2"><i class="fas fa-chart-line"></i> {{ question.points }}</span>
                </div>
             </small>
           </div>
        </div> 

      </div>
    {% endfor %}

{% endblock %}

