{% extends "base.html" %}

{% load static humanize %}

{% block title %}Code - Question and Answers{% endblock title %}

{% block css %}
<style>
  @media only screen and (max-width: 1092px) {
  .laptop {
    display: none;
  }
}

@media only screen and (min-width: 1092px) {
  .mobile {
    display: none;
  }
}
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/web-programming.svg' %}" alt="" class="d-inline-block align-top"  width="30" height="30">
    <b>Code</b>
    </a>

  <form class="form-inline ml-auto">
      <input class="form-control form-control-sm mr-sm-2 laptop" type="search" placeholder="Search" aria-label="Search">
      
      <a href="{% url 'account_login' %}" class="btn btn-sm btn-outline-secondary">Log in</a>
       <a href="{% url 'account_signup' %}" class="btn btn-sm btn-primary ml-2">Sign up</a>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <h1 class="display-3">Code</h1>
  <p class="lead">Mini StackOverflow Clone</p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">login</a>
  </p>
</div>

{% endblock %}

