{% extends "main.html" %}

{% load static humanize crispy_forms_tags %}

{% block title %}Code - Question and Answers{% endblock %}

{% block content %}

{% if user.watched.count < 1 %}
<style>
  label {
    display:none;
  }
</style>

<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        <form method="post" action="{% url 'continue' %}" novalidate>
          <div class="modal-body">
            <h2 class="text-center font-weight-bold">ADD A TAG</h2>
            <p class="text-center mt-3">
              <i class="fab fa-ubuntu"></i> <i class="fab fa-linux"></i> <i class="fab fa-google"></i> <i class="fab fa-java"></i> <i class="fas fa-terminal"></i> <i class="fab fa-microsoft"></i> <i class="fab fa-facebook"></i> <i class="fab fa-github"></i> <i class="fab fa-python"></i> <i class="fas fa-code"></i> <i class="fab fa-php"></i> <i class="fab fa-apple"></i> 
            </p>
            <p class="text-center mt-2">
             Please add at least one technology or terminology you are more interested in order to help us select relavent questions for you.
             <br>
             eg metasploit,ubuntu,linux,C#,ruby,flask,asp.net etc.
            </p>

              {{ form.media }}
              {% csrf_token %}
              {{ form|crispy }}
              
              <script src="{% static 'jquery.min.js' %}"></script>
              {{ form.media.js }}
              <script>
                $(document).ready(function() {
                   $("#modelId").modal('show');
                  });
              </script>
              
              <div class="text-center">
                <button type="submit" id="btn_watch" class="btn rounded-pill btn-outline-success mr-2"><i class="fas fa-check"></i></button>
                <button type="button" class="btn rounded-pill btn-outline-danger" data-dismiss="modal" ><i class="fas fa-times"></i></button>   
              </div>

            </div>
            </form>

        </div>
    </div>
</div>
{% endif %}

 <!-- laptop view  -->
   <div class="row laptop">
     <div class="col-9 mt-5">
      <div class="container mb-2 mt-2">
        <div class="row">
        <div class="col-12 mb-3">
          <h3>Top Questions 
            <a class="btn btn-sm btn-primary float-right" href="{% url 'ask_question' %}" role="button">Ask Question</a></h3>
        </div>
        </div>
      </div>
        
      {% for question in questions %}
        <div  class="container p-2 {% if not forloop.last %}border-bottom-0{% endif %}" style="border:1px solid lightgray;">
          <div class="row">
              <div class="col-3">
                <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <div class="col-12 text-center">
                          <span class="text-secondary">{{ question.score }}</span>
                        </div>
                          <div class="col-12  text-center">
                            <span class="text-secondary"><small>vote{{ question.score|pluralize}}</small></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 pl-1">
                      <button type="button" class="btn btn-sm {% if question.answers.count <= 0 %}text-secondary{% endif %} {% if question.answers.count >= 1 and not question.any_answer_accepted %}btn-outline-success{% endif %} {% if question.answers.count >= 1 and question.any_answer_accepted %}btn-success{% endif %} text-center" disabled>{{ question.answers.count }}<br><small>answer{{ question.answers.count|pluralize }}</small></button>
                  </div>
                  <div class="col-4"> 
                      <div class="row">
                        <div class="col-12 text-center">
                          <span class="text-secondary">{{ question.views }}</span>
                        </div>
                          <div class="col-12  text-center">
                            <span class="text-secondary"><small>view{{ question.views|pluralize}}</small></span>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
              <div class="col-9">
                  <div class="row">
                    <div class="col-12 pl-0">
                      <small><b><a href="{% url 'question_detail' question.pk question.slug %}">{{ question.title }}</a></b></small>
                    </div>
                    <div class="col-12 pr-3 pl-0">
                      {% for tag in question.tags.all %}
                        <a href="{% url 'tag_question' tag.pk tag.name %}" class="badge">{{ tag }}</a>
                      {% endfor %}
                      <span class="float-right text-secondary"><small>{{ question.posted_on|naturaltime}} <a href="{% url 'user' question.asked_by.pk %}">{{ question.asked_by }}</a> <b>{{ question.asked_by.points }}</b></small></span>
                  </div>
                  </div>
              </div>
          </div>
        </div>

        {% endfor %}
    </div>
    <div class="col-3 mt-5">
       <div class="row">
           <div class="col-12 mb-3 mt-3">
           <div class="card shadow-sm">
               <div class="card-header"><i class="fas fa-greetings"></i> Welcome, <b>{{ user }}</b></div>
             <div class="card-body">
               <p class="card-text">
                what would you like to do today?
                 <p><i class="fas fa-bullhorn"></i> <a href="{% url 'ask_question' %}">Ask a question</a></p>
                 <p><i class="fas fa-comment"></i> <a href="#">Answer questions</a></p>
                 <p><i class="fas fa-eye"></i> <a href="{% url 'user' user.pk %}">View profile</a></p>
               </p>
             </div>
           </div>
         </div>

         <div class="col-12 mb-3">
           <div class="card shadow-sm">
             <div class="card-header"><i class="fas fa-eye"></i> Watched Tags</div>
             <div class="card-body">
                 <p class="card-text text-center">
                 {% for tag in user.watched.all %}
                  <a href="{% url 'tag_question' tag.pk tag.name %}" class="badge">{{ tag }}</a>
                  {% empty %}
                     <em><small>No tag is being watched.</small></em>
                 {% endfor %}
                 </p>
             </div>
           </div>
         </div>
         <div class="col-12">
           <ul class="list-group shadow-sm">
               <em>
                 <li class="list-group-item"><i class="fab fa-microsoft"></i> Microsoft</li>
                 <li class="list-group-item"><i class="fab fa-apple"></i> Mac</li>
                 <li class="list-group-item"><i class="fab fa-linux"></i> Linux</li>
                 <li class="list-group-item"><i class="fab fa-java"></i> Java</li>
                 <li class="list-group-item"><i class="fab fa-google"></i> Google</li>
                 <li class="list-group-item"><i class="fab fa-ubuntu"></i> Ubuntu</li>
               </em>
           </ul>
         </div>
       </div>
    </div>
  </div>
<!-- laptop view end -->

<!-- mobile view -->
<div class="mobile">
  <div class="text-center">
     <div class="btn-group btn-group-sm mb-3">
       <a class="btn btn-sm text-secondary" href="{% url 'question' %}" role="button">Questions</a>
       <a class="btn btn-sm text-secondary" href="{% url 'tags' %}" role="button">Tags</a>
       <a class="btn btn-sm text-secondary" href="{% url 'users' %}" role="button">Users</a>
       <a class="btn btn-sm text-secondary" href="{% url 'ask_question' %}" role="button">Ask</a>
     </div> 
   </div> 

    <div class="row border-left-0 border-right-0 border-bottom-0 " style="border:1px solid lightgray;">
      <div class="col-12 p-1 bg-light">
      <span>All questions</span>
      </div>
    </div>
         
      {% for question in questions %}

         <div class="row {% if not forloop.last %}border-bottom-0{% endif %} pl-0 mobile" style="border:1px solid lightgray;">
           <div class="col-2" style="{% if question.any_answer_accepted %} background-color: #ddf1e1; {% else %} background-color: #f8f9fa; {% endif %}">
              <div class="row">
                <div class="col-12 p-0 text-center">
                  <small class="text-secondary">
                  {{ question.score }}
                  <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                  </svg>
                  </small>
                </div>
                <div class="col-12 col-12 p-0 text-center">
                   <small class="{% if question.any_answer_accepted %}text-success{% else %}text-secondary{% endif %}">{{ question.answers.count }} <i class="fas fa-comment-dots"></i></small>
                </div>
              </div> 
           </div>
           <div class="col-10">
              <div class="row">
                <div class="col-12 pl-1 pr-1">
                   <small><b><a href="{% url 'question_detail' question.pk question.slug %}">{{ question.title }}</a></b></small>
                </div>
                <div class="col-12 pl-1 pr-1">
                   {% for tag in question.tags.all %}
                    <small><a href="{% url 'tag_question' tag.pk tag.name %}" class="badge">{{ tag }}</a></small>
                   {% endfor %}
                </div>
                <div class="col-12 pl-1 pr-1">
                   <small><span class="text-secondary">{{ question.posted_on|naturaltime }}</span> <a href="{% url 'user' question.asked_by.pk %}">{{ question.asked_by }}</a></small>
                </div>
              </div> 

            </div>
        </div> 

    {% endfor %}
    </div>
<!-- mobile view end -->

{% endblock %}