{% extends "base.html" %}

{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/web-programming.svg' %}" alt="" class="d-inline-block align-top"  width="30" height="30">
    <b id="navy">Code</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">

    <ul class="navbar-nav">
      {% if '/question' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'question' %}">Questions</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'question' %}">Questions</a>
          </li>
        {%endif%}

           {% if '/ask/' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'ask_question' %}">Ask</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ask_question' %}">Ask</a>
          </li>
        {%endif%}

      {% if '/tags/' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'tags' %}">Tag</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tags' %}">Tag</a>
          </li>
        {%endif%}
      {% if '/users/' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users' %}">Users</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Users</a>
          </li>
        {%endif%}
            
    </ul>

      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'user_profile' user.pk %}"><i class="fas fa-user-circle"></i>&nbsp;Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-power-off">&nbsp;</i>Log out</a>
            </div>
          </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
     <div class="col">
      {% block content %}
  
      {% endblock %}
    </div>
    <div class="col-sm-3" id="cards">
       <div class="row">
         <div class="col-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-text text-secondary"><small>
                    model_1 is a foreign key (could be a manytomany or whatever) in model_0

How can I perform a query in the model_1 objects checking the property of the model_0

Something like model_0.objects.filter(model_0.random_property="Something")

I know that you can easily perform queries with the model like 
                  </small>
                 </div>
              </div>
            </div>
         </div>
         <div class="col-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="card-text text-secondary"><small>
                   model_1 is a foreign key (could be a manytomany or whatever) in model_0

How can I perform a query in the model_1 objects checking the property of the model_0

Something like model_0.objects.filter(model_0.random_property="Something")

I know that you can easily perform queries with the model like 
                 </small>
                </div>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  <footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Heading 1</h4>
          <ul class="list-unstyled">
          <li><a href="#">Disclaimer</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Heading 2</h4>
          <ul class="list-unstyled">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Webmaster</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Heading 3</h4>
          <ul class="list-unstyled">
           <li><a href="#">Website Tutorial</a></li>
            <li><a href="#">Accessibility</a></li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li class=""><a href="https://facebook.com/karma.certified/" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
             <li><a href="#" class="icoGithub" title="Github"><i class="fab fa-github"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Code  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>
{% endblock %}

{% block js %}
<script src="{% static 'vue.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
<script src="{% static 'axios.min.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endcomment %}
<script>
function vote(voteType, voted, voteURL) {
  var bodyFormData = new FormData();
  if (voted) {
    bodyFormData.set('vote_type', 'cancel_vote');
  } else {
    bodyFormData.set('vote_type', voteType);
  }
  
  axios({
    method: 'post',
    url: voteURL,
    data: bodyFormData,
    headers: {'Content-Type': 'multipart/form-data' }
  }).then((response) => {
    var responseVoteType = response.data.vote_type;
    var targetObj;
    if('answer' in this){
      targetObj = this.answer;
    } else {
      targetObj = this;
    }
    if (responseVoteType == 'upvote') {
      targetObj.upvoted = true;
      targetObj.downvoted = false;
    } else if (responseVoteType == 'downvote') {
      targetObj.upvoted = false;
      targetObj.downvoted = true;
    } else {
      targetObj.upvoted = false;
      targetObj.downvoted = false;
    }
    targetObj.score = response.data.score;
  }).catch((error) => {
    // 401: Not logged in (not authorized)
    if(error.message.includes('401')) {
      window.location.href = "/accounts/login/";
    } else if (error.message.includes('400')) {
      alert('you cannot vote on your posts');
    } 
    // We should get here when the request is not
    // POST or the user's trying to vote on their own question. (400)
  });
}

function accept(accept_type, accepted, acceptURL) {
  var bodyFormData = new FormData();
  if (accepted) {
    bodyFormData.set('accept_type', 'cancel_accept');
  } else {
    bodyFormData.set('accept_type', accept_type);
  }
  
  axios({
    method: 'post',
    url: acceptURL,
    data: bodyFormData,
    headers: {'Content-Type': 'multipart/form-data' }
  }).then((response) => {
    var responseAcceptType = response.data.accept_type;
 
    targetObj = this.answer;

    if (responseAcceptType == 'accept') {
      targetObj.accepted = true;
    } else if (responseAcceptType == 'cancel_accept') {
      targetObj.accepted = false;
    }

  }).catch((error) => {
    if(error.message.includes('401')) {
      window.location.href = "/accounts/login/";
    } else if (error.message.includes('400')) {
      alert('you cannot accept your own answers');
    } 
    
  });
}

var score = JSON.parse(document.getElementById('score').textContent);
var upvoted = JSON.parse(document.getElementById('upvoted').textContent);
var downvoted = JSON.parse(document.getElementById('downvoted').textContent);
var answers = JSON.parse(document.getElementById('answers_serialized').textContent);

Vue.component('answer', {
  delimiters: ["[[", "]]"],
  props: ['answer'],
  methods: {
    vote: vote,
    accept: accept,
   },
  template: `
  <div>

   <div  class="container mb-1 pt-1 pb-1 pl-md-3">
      <div class="row"> 
         <div class="col-12 pr-2 pl-2" >
            <div class="row">
              <div class="col-2">
                  <div class="row">
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('upvote', answer.upvoted, '/answer/' + [[ answer.pk ]] + '/vote/')" class="text-secondary" :class="[[answer.upvoted ? 'done' : '']]">
                         <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                         </a>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <h3 class="mb-0 text-secondary">[[ answer.score ]]</h3>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('downvote', answer.downvoted, '/answer/' + [[ answer.pk ]] + '/vote/')" class="text-secondary" :class="[[answer.downvoted ? 'done' : '']]">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                        </i></a>
                     </div>
                     {% if question.asked_by == user and question.asked_by != '[[ answer.answered_by ]]' %}
                     <div class="col-12 p-0 pl-2 text-center">
                       <a href="javascript:void(0)" v-on:click="accept('accept', answer.accepted, '/answer/' + [[ answer.pk ]] + '/accept/')" class="text-secondary" :class="[[ answer.accepted ? 'done' : '']]">
                        <i class="fas fa-check fa-lg text"></i>
                        </a>
                     </div>
                     {% endif %}
                    
                 </div>
              </div>
              <div class="col-10 pl-0">
                <small><div class="answer-text" v-html="answer.text_html"></div></small>
              </div>
            </div>
         
         </div>
         
         <div v-if="answer.answered_by != '{{ user.username }}'" class="col-12 pl-2 pr-2">
           <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">
                  <small class="text-secondary">
                    <i class="fas fa-user-circle text-secondary"></i>
                    {% if user.is_authenticated %}
                        <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
                    {% else %}
                        <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
                    {% endif %}

                        <span class="text-secondary"> | </span>
                
                        <span class="text-secondary"><a href="javascript:void(0)" class="text-secondary">add comment </a></span>

                        <span class="text-secondary"> | </span>
                
                        <span> [[ answer.posted_on ]]</span> 
                    
                  </small>
                  </div>
               </div>
            </div>
         </div>

         <div v-if="answer.answered_by == '{{ user.username }}'" class="col-12 pl-2 pr-2">
            <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">
                  <small class="text-secondary">
                  <i class="fas fa-user-circle text-secondary"></i>

                  {% if user.is_authenticated %}
                      <a href="{% url 'user_profile' user.pk %}">[[ answer.answered_by ]]</a>
                  {% else %}
                     <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
                  {% endif %}       

                  <span class= "text-secondary"> | </span>
                              
                  <a href="javascript:void(0)" class="text-secondary">edit</a>

                  <span class= "text-secondary"> | </span>
                
                  <a id="submitted" href="javascript:void(0)" class="text-secondary">delete</a>

                  <span class= "text-secondary"> | </span>

                  <span class="text-secondary"><a href="javascript:void(0)" class="text-secondary">add comment</a></span>
                  
                  <span class= "text-secondary"> | </span>
                
                  <span>[[ answer.posted_on ]]</span> 
                    
                  </small>
                  </div>
               </div>
            </div>
         </div>

         
         <div class="col-12">
            <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0 bg-light text-center">
                 <span class= "text-secondary font-italic"><small>comments display section </small></span>
               </div>
         </div>
        <hr>
      </div> 
   </div>
    
  </div>
  `
})

var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#question',
  data: {
    downvoted: downvoted,
    upvoted: upvoted,
    score: score,
    answers: answers,

  },
  methods: {
    vote: vote,
    accept: accept
  },
});
</script>
{% endblock%}
