{% extends "base.html" %}

{% load static %}

{% block body %}
<div id="app">
  <div>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="#"><strong>Code</strong></b-navbar-brand>

   <b-navbar-toggle target="nav-collapse">
      <template v-slot:default="{ expanded }">
        <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
        <b-icon v-else icon="chevron-bar-down"></b-icon>
      </template>
    </b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#">Questions</b-nav-item>
        <b-nav-item href="#" disabled>Tags</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        {% if user.is_authenticated %}
        {% comment %} <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown> {% endcomment %}

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content><b-icon icon="person-circle"></b-icon>
            <em>{{ user }}</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="{% url 'logout' %}"><b-icon icon="power"></b-icon> Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
        {% else %}
        <div class="m-2">
         <b-button size="sm" href="{% url 'login' %}" variant="outline-primary">login</b-button>
        <b-button size="sm" href="#" variant="success">signup</b-button>
        </div>
        {% endif %}
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>


  <v-main>
    <b-container>
     {% if user.is_authenticated %}
   <b-button size="sm" href="#" class="mt-3 mb-0 pull-right" variant="outline-primary" squared>Ask Question</b-button>
   {% if '/questions/' in request.path %}
    <b-button size="sm" href="#" class="mt-3 mb-0 pull-right" variant="outline-danger" squared>Reply</b-button>
   {% endif %}
   {% endif %}
      <b-row  class="justify-content-center mt-3">
        <b-col md="9">
        {% block content %}
  
        {% endblock content %}
         </b-col>
         <b-col md="3">
           <b-card>

           </b-card>
         </b-col>
      </b-row>
    </b-container>
  </v-main>
</div>

{% block js %}<script src="{% static 'main.js' %}"></script>{% endblock  %}
{% endblock body %}
