{% extends "base.html" %}

{% load static %}

{% block css %}
<style>
.badge {
  background-color: #e1ecf4; 
  color: #39739d;
}
</style>
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-sm bg-dark  navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><b>Code</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">

      <ul class="nav-bar nav">
       
        {% if '/question' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'question' %}">Questions</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'question' %}">Questions</a>
          </li>
        {%endif%}
        

       {% if '/tags/' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'tags' %}">Tags</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tags' %}">Tags</a>
          </li>
        {%endif%}
        

       {% if '/users/' in request.path %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users' %}">Users</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Users</a>
          </li>
        {%endif%}
            
     </ul>

      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'user_profile' user.pk %}"><i class="fas fa-user-circle"></i>&nbsp;Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-power-off">&nbsp;</i>Log out</a>
            </div>
          </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
     <div class="col-md-9">
      {% block content %}
  
      {% endblock %}
    </div>
    <div class="col-md-3">
       <div class="row">
         <div class="col-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-text text-secondary"><small>
                    model_1 is a foreign key (could be a manytomany or whatever) in model_0

How can I perform a query in the model_1 objects checking the property of the model_0

Something like model_0.objects.filter(model_0.random_property="Something")

I know that you can easily perform queries with the model like 
                  </small>
                 </div>
              </div>
            </div>
         </div>
         <div class="col-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="card-text text-secondary"><small>
                   model_1 is a foreign key (could be a manytomany or whatever) in model_0

How can I perform a query in the model_1 objects checking the property of the model_0

Something like model_0.objects.filter(model_0.random_property="Something")

I know that you can easily perform queries with the model like 
                 </small>
                </div>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  <div class="footer bg-light p-4">
    <div class="text-center">made with <i class="fas fa-heart" style="color:red"></i></div>
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'vue.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
<script src="{% static 'axios.min.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endcomment %}
<script>
function vote(voteType, voted, voteURL) {
  var bodyFormData = new FormData();
  if (voted) {
    bodyFormData.set('vote_type', 'cancel_vote');
  } else {
    bodyFormData.set('vote_type', voteType);
  }
  
  axios({
    method: 'post',
    url: voteURL,
    data: bodyFormData,
    headers: {'Content-Type': 'multipart/form-data' }
  }).then((response) => {
    var responseVoteType = response.data.vote_type;
    var targetObj;
    if('answer' in this){
      targetObj = this.answer;
    } else {
      targetObj = this;
    }
    if (responseVoteType == 'upvote') {
      targetObj.upvoted = true;
      targetObj.downvoted = false;
    } else if (responseVoteType == 'downvote') {
      targetObj.upvoted = false;
      targetObj.downvoted = true;
    } else {
      targetObj.upvoted = false;
      targetObj.downvoted = false;
    }
    targetObj.score = response.data.score;
  }).catch((error) => {
    // 401: Not logged in (not authorized)
    if(error.message.includes('401')) {
      window.location.href = "/accounts/login/";
    }
    // We should get here when the request is not
    // POST or the user's trying to vote on their own question. (400)
  });
}

var score = JSON.parse(document.getElementById('score').textContent);
var upvoted = JSON.parse(document.getElementById('upvoted').textContent);
var downvoted = JSON.parse(document.getElementById('downvoted').textContent);
var answers = JSON.parse(document.getElementById('answers_serialized').textContent);

Vue.component('answer', {
  delimiters: ["[[", "]]"],
  props: ['answer'],
  methods: {vote: vote},
  template: `
  <div>

   <div  class="container mb-1 pt-1 pb-1 pl-md-3">
      <div class="row">

         <div class="col-12 pl-2 pr-2">
         <small><div class="answer-text" v-html="answer.text_html"></div></small>
         </div>
         
         <div v-if="answer.answered_by != '{{ user.username }}'" class="col-12 pl-2 pr-2">
            <small>
               <i class="fas fa-user-circle text-secondary"></i>
               {% if user.is_authenticated %}
                   <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
               {% else %}
                   <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
               {% endif %}
           
                  <a href="javascript:void(0)" v-on:click="vote('upvote', answer.upvoted, '/answer/' + [[ answer.pk ]] + '/vote/')" class="text-secondary mr-2 ml-2" :class="[[answer.upvoted ? 'done' : '']]">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                  </a>
                  <a href="javascript:void(0)" v-on:click="vote('downvote', answer.downvoted, '/answer/' + [[ answer.pk ]] + '/vote/')" class="text-secondary  mr-3" :class="[[answer.downvoted ? 'done' : '']]">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                  </a>

                  <span><i class="fas fa-comment-dots text-secondary"></i> </span>
                  
                  <span class="ml-3"><i class="fas fa-chart-line text-secondary"></i> [[ answer.score ]]</span>

                  <div class="float-right mt-1 text-secondary">
                  <span><i class="fas fa-clock "></i> [[ answer.posted_on ]]</span> 
               </div>
            </small>
         </div>

         <div v-if="answer.answered_by == '{{ user.username }}'" class="col-12 pl-2 pr-2">
            <small>
               <i class="fas fa-user-circle text-secondary"></i>

                  {% if user.is_authenticated %}
                      <a href="{% url 'user_profile' user.pk %}">[[ answer.answered_by ]]</a>
                  {% else %}
                     <a href="javascript:void(0)">[[ answer.answered_by ]]</a>
                  {% endif %}                     
                
                  <a href="javascript:void(0)" class="ml-2 mr-2 text-secondary">edit</a>
                  <a id="submitted" href="javascript:void(0)" class="mr-2 text-secondary">delete</a>

                  <span><i class="fas fa-comment-dots text-secondary"></i> </span>
                  
                  <span class="ml-3"><i class="fas fa-chart-line text-secondary"></i> [[ answer.score ]]</span>

                  <div class="float-right mt-1 text-secondary">
                  <span><i class="fas fa-clock "></i> [[ answer.posted_on ]]</span> 
               </div>
            </small>
         </div>



         <div class="col-12 pl-2 pr-2">
         
            <div class="collapse" id="Comment">
               
            </div>
           
         </div>

      </div> 
   </div>
   <hr>
  </div>
  `
})

var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#question',
  data: {
    downvoted: downvoted,
    upvoted: upvoted,
    score: score,
    answers: answers,

  },
  methods: {
    vote: vote
  },
});
</script>
{% endblock%}
