{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Question{% endblock title %}

{% block css %}
<style>
#quill-id_text {
  height: 200px;
}
a.done:link, a.done:hover, a.done:visited, a.done:active{
    color: orange !important;
}
.ql-syntax {
   margin-bottom :0;
}
p {
   margin-bottom :0;
}
</style>
{% endblock css %}

{% block content %}
<div id="question">
   
  <div  class="container mb-2 pt-1 pb-1 pl-md-3" style="border:1px solid lightgray;">
      <div class="row">

         <div class="col-12">
            <b class="text-secondary">{{ question.title }}</b> <small><span class="float-right">points:  [[ points ]] </span></small>
         </div>

         <div class="col-12">
         {% for tag in question.tags.all %}
            <small><a href="{% url 'tag_question' tag.pk %}" class="badge badge-info badge-pill">{{ tag }}</a></small>
         {% endfor %}
         </div>

         <div class="col-12 bg-light border-left-0 border-right-0" style="border:1px solid lightgray;">
            <small>{{ question.body.html|safe }}</small>
         </div>

         <div class="col-12">
            <small>
               <b>posted by: </b><a href="#">{{ question.asked_by }}</a>

               {% if not user == question.asked_by %}
                <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">upvote</a>
                <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary">downvote</a>
               {% endif %}

               {% if user == question.asked_by %}
               <div class="float-right">
                <a class="ml-2" href="{% url 'update_question' question.pk question.slug %}">edit</a>
                <a href="#">delete</a>
                </div>
               {% endif %}
            </small>
         </div>

         <div class="col-12">
            <small>
               <span><b>asked:</b> {{ question.posted_on|naturaltime}}</span> 
            {% if not question.updated_on is None %}
                <span class="float-right"><b>edited:</b>   
               {{ question.updated_on|naturaltime }}</span>
               {% endif %}
            </small>
         </div>

      </div> 
   </div>
</div>

   {% for answer in answers %}

   <form method="post" action="{% url 'delete_answer' answer.pk %}" id="delete_answer" onSubmit="return confirm('delete')">
     {% csrf_token %}
    </form>

   <div  class="container mb-1 pt-1 pb-1 pl-md-3" style="border:1px solid lightgray;">
      <div class="row">

         <div class="col-12 bg-light border-left-0 border-right-0 pl-2 pr-2" style="border:1px solid lightgray;">
         <small>{{ answer.text.html|safe }}</small>
         </div>

         <div class="col-12 pl-2 pr-2">
            <small>
               <b>answered by: </b>
               {% if answer.answered_by == user %}
                    <a href="{% url 'user_profile' user.pk %}" class="mr-2">{{ answer.answered_by }}</a>
                {% else %}
                    <a href="{% url 'user' user.pk %}" class="mr-2">{{ answer.answered_by }}</a>
                {% endif %}
               <span class="mr-2"><i class="fas fa-chart-line"></i> {{ answer.points }}</span>

                  {% if not user == answer.answered_by %}
                  <a href="#">upvote</a>
                  <a href="#">downvote</a>
                  {% endif %}
               
                  {% if user == answer.answered_by %}
                  <a href="{% url 'update_answer' answer.question.pk answer.pk %}">edit</a>
                  <a id="submitted" href=".">delete</a>
                  {% endif %}
                  <a data-toggle="collapse" href="#Comment" aria-expanded="false" aria-controls="Comment">
                        <i class="fas fa-comment-dots" style="color:dodgerblue"></i>
                     </a>

                  <div class="float-right">
                  <span><b>posted: </b>{{ answer.posted_on|naturaltime}}</span> {% if not answer.updated is None %}<span><b>edited: </b>{{ answer.updated_on|naturaltime }}</span>{% endif %}
               </div>
            </small>
         </div>

         <div class="col-12  pl-2 pr-2">
         </div>

         {% for comment in answer.comments.all %}
             <div class="col-12 bg-light pl-md-4 border-left-0 border-right-0 border-bottom-0" style="border:1px solid lightgray;">
             <small>{{ comment }} - 
                 {% if comment.posted_by == user %}
                    <a href="{% url 'user_profile' user.pk %}">{{ comment.posted_by }}</a>
                  {% else %}
                   <a href="{% url 'user' user.pk %}">{{ comment.posted_by }}</a>
                 {% endif %} 
              | {{ comment.posted_on|naturaltime }}</small>
            </div>
         {% endfor %}

         <div class="col-12 pl-2 pr-2">
         
            <div class="collapse" id="Comment">
               <form method="post" action="{% url 'reply_answer' answer.pk %}" novalidate>
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-12">
                        <div class="input-group">
                           <input type="text" class="form-control" name="text" id="id_text" placeholder="enter comment" aria-label="">
                           <div class="input-group-append">
                           <button class="btn btn-primary" type="submit">Go</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
           
         </div>

      </div> 
   </div>
   {% endfor %}

   <div  class="container mb-3">
        <div class="row">
        {% if user.is_authenticated %}

            {% if user_answers.count > 0 %}
               <div class="col-12 p-2">
                   <a class="btn btn-sm btn-primary" id="remove" data-toggle="collapse" href="#contentId" aria-expanded="false" aria-controls="contentId">
                              Add another answer
                           </a>
               </div>
              
                <div class="col-12">
                     <div class="collapse" id="contentId"> 
                        <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                           {% csrf_token %}
                           {{ form.media }}            
                        <div class="form-group mt-2">
                           {{ form.text }}
                           </div> 
                           <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                        </form>
                     </div>
                </div>
            {% else %}
                 <div class="col-12">
                  <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                     {% csrf_token %}
                     {{ form.media }}            
                    <div class="form-group mt-2">
                      {{ form.text }}
                      </div> 
                     <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                  </form>
               </div >
            {% endif %} 
               

        {% else %}
         <div class="col-12">
            <p><a href="{% url 'account_login' %}">login to reply</a></p>
          </div>
        {% endif %}
       </div>
   </div> 



{{ points|json_script:"points" }}
{{ upvoted|json_script:"upvoted" }}
{{ downvoted|json_script:"downvoted" }}
{% endblock %}





