{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Home{% endblock title %}

{% block content %}
   {% for question in questions %}

      <div class="container mb-1" style="border:1px solid lightgray;">
        <div class="row">

         <div class="col-12">
          <small><b><a href="{% url 'question_detail' question.pk question.slug %}">{{ question.title }}</a></b></small>
         </div>

         <div class="col-12">
            {% for tag in question.tags.all %}
             <small><a href="{% url 'tag_question' tag.pk %}" class="badge badge-info badge-pill">{{ tag }}</a></small>
            {% endfor %}
         </div>

        <div class="col-12">
             <small>
                <span><b>posted: </b>{{ question.posted_on|naturaltime}}</span>
                <span class="text-secondary">|</span>
                <span><b>edited: </b>{{ question.posted_on|naturaltime}}</span>

                <div class="float-right">
                <span class="mr-2">views {{ question.views }}</span>
                <span class="mr-2">answers {{ question.answers.count|default_if_none:"0" }}</span>
                <span class="mr-2">points {{ question.points }}</span>
                </div>
             </small>
           </div>

        </div>
      </div>
    {% empty %}
       <b-container class="text-center p-4" style="border:1px solid lightgray;">
       <small><span class="font-italic font-weight-bold">you haven't asked any question yet...<b-link href="{% url 'ask_question' %}">ask</b-link></span></small>
       </b-container> 
    {% endfor %}
{% endblock %}
