{% extends "main.html" %}

{% load static widget_tweaks crispy_forms_tags %}

{% block title %}Ask a Question - Code{% endblock title %}


{% block content %}
<div class="row  justify-content-center pt-3">
    <div class="col-12 mt-5 laptop">
         <h3>Ask a Question</h3>
      </div>      
        
     <div class="col-sm-9">

     {{ form.media.css }}

      <div class="card mb-3">
         <div class="card-body">
         <form method="post" novalidate>
            {% csrf_token %}
            <small>
            {{ form|crispy }}
            </small>
         </div>
      </div>
    
      <div class="form-group mb-5 laptop">
         <button type="submit" class="btn btn-primary btn-sm" disabled>
         {% if 'update' in request.path %}
         Save Edits
         {% else %}
         Post your question
         {% endif %}
         </button>
         
         <a href="{% url 'home' %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

      <div class="form-group mb-5 mobile text-center">
         <button type="submit" class="btn btn-primary btn-sm" disabled>
         {% if 'update' in request.path %}
         Save Edits
         {% else %}
         Post your question
         {% endif %}
         </button>
         
         <a href="{% url 'home' %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

    </form>
    <script src="{% static 'jquery.min.js' %}"></script>
    {{ form.media.js }}
    
    </div>
    <div class="col-3 mt-5 laptop">
       <div class="row">
          <div class="col-12 mb-3 mt-2">
           <div class="card shadow-sm">
             <div class="card-header"> hello World</div>
             <div class="card-body">
               <p class="card-text">
                  <ul>
                    <li>Active item</li>
                    <li>Item</li>
                    <li>Disabled item</li>
                 </ul>
               </p>
             </div>
           </div>
         </div>
         <div class="col-12">
           <div class="card shadow-sm">
             <div class="card-header"> hello World</div>
             <div class="card-body">
               <p class="card-text">
                  <ul>
                    <li>Active item</li>
                    <li>Item</li>
                    <li>Disabled item</li>
                 </ul>
               </p>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>
    
{% endblock %}


