{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Question{% endblock title %}

{% block css %}
<style>
#quill-id_text {
  height: 200px;
}
a.done:link, a.done:hover, a.done:visited, a.done:active{
    color: forestgreen !important;
}
.ql-syntax {
   margin-bottom :0;
}
p {
   margin-bottom :0;
}
</style>
{% endblock css %}

{% block content %}
<!-- vue-app start -->
<div id="question">
   
  <div  class="container mb-2 pt-1 pb-1 pl-md-3" style="border:1px solid lightgray;">
      <div class="row">

         <div class="col-12 pl-2 pr-2">
            <small><b>{{ question.title|urlize }}</b> <span class="float-right mt-1"><i class="fas fa-chart-line text-secondary mt-1"></i> [[ points ]] </span></small>
         </div>

         <div class="col-12">
         {% for tag in question.tags.all %}
            <small><a href="{% url 'tag_question' tag.pk %}" class="badge badge-info badge-pill mb-1 mt-0">{{ tag }}</a></small>
         {% endfor %}
         </div>

         <div class="col-12 bg-light border-left-0 border-right-0 pr-2 pl-2" style="border:1px solid lightgray;">
            <small>{{ question.body.html|safe|urlize }}</small>
         </div>

         <div class="col-12 pl-2">
            <small>
               <i class="fas fa-user-circle text-secondary"></i> 
               {% if user.is_authenticated %}

                  {% if question.asked_by == user %}
                     <a href="{% url 'user_profile' user.pk %}">{{ question.asked_by }}</a>
                  {% else %}
                     <a href="javascript:void(0)">{{ question.asked_by }}</a>
                  {% endif %}

                {% else %}
                  <a href="javascript:void(0)">{{ question.asked_by }}</a>
                {% endif %}

               {% if not user == question.asked_by %}
               <b>
                <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary ml-3 mr-2">upvote <i class="fas fa-caret-square-up"></i></a>
                <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary">downvote <i class="fas fa-caret-square-down"></i></a>
               </b>
               {% endif %}
            
               {% if user == question.asked_by %}
               <div class="float-right mt-1">
                <a class="mr-3" href="{% url 'update_question' question.pk question.slug %}"><i class="fas fa-edit"></i></a>
                <a href="#"><i class="fas fa-trash"></i></a>
                </div>
               {% endif %}
            </small>
         </div>

         <div class="col-12 pl-2 pr-2">
            <small>
               <span><i class="fas fa-pen-alt text-secondary"></i> 
                  {{ question.posted_on|naturaltime }}
               </span> 
               
               {% comment %}
               {% if 'days' in '{{ question.posted_on|naturaltime}}' %}
               {{ question.posted_on|naturalday }}
               {% else %}
               {{ question.posted_on|naturaltime }}
               {% endif %}
               {% endcomment %}
           
            
            {% if not question.updated_on is None %}
                <span class="float-right mt-1"><i class="fas fa-edit text-secondary"></i>   
               {{ question.updated_on|naturaltime }}</span>
               {% endif %}
            </small>
         </div>

      </div> 
   </div>



      <answer
      v-if="!allAnswersShown"
      v-for="answer in visibleAnswers"
      v-bind:key="answer.pk"
      v-bind:answer="answer"
      ></answer>

      <answer
      v-if="allAnswersShown"
      v-for="answer in answers"
      v-bind:key="answer.pk"
      v-bind:answer="answer"
      ></answer>

   <div v-if="answersHidden" style="text-align: right; font-size: 14px; margin-bottom: 5px">
      <a v-on:click="toggleAllAnswersShown" href="javascript:void(0)">
         <span v-if="!allAnswersShown">Show all answers</span>
         <span v-if="allAnswersShown">Hide some answers</span>
      </a>
   </div>
</div>
<!-- vue-app end -->

   <div  class="container mb-3">
      <div class="row">
        {% if user.is_authenticated %}

            {% if user_answers.count > 0 %}
               <div class="col-12 p-2">
                   <a class="btn btn-sm btn-primary" id="remove" data-toggle="collapse" href="#contentId" aria-expanded="false" aria-controls="contentId">
                              Add another answer
                           </a>
               </div>
              
                <div class="col-12">
                     <div class="collapse" id="contentId"> 
                        <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                           {% csrf_token %}
                           {{ form.media }}            
                           <div class="form-group mt-2">
                           {{ form.text }}
                           </div> 
                           <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                        </form>
                     </div>
                 </div>
            {% else %}
                 <div class="col-12">
                  <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                     {% csrf_token %}
                     {{ form.media }}            
                    <div class="form-group mt-2">
                      {{ form.text }}
                      </div> 
                     <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                  </form>
               </div >
            {% endif %} 
               

        {% else %}
         <div class="col-12">
            <p><a href="{% url 'account_login' %}">login to reply</a></p>
          </div>
        {% endif %}

       </div>
     </div> 



{{ points|json_script:"points" }}
{{ upvoted|json_script:"upvoted" }}
{{ downvoted|json_script:"downvoted" }}
{{ answers_serialized|json_script:"answers_serialized" }}

{% endblock %}
