{% extends "main.html" %}

{% load static humanize crispy_forms_tags widget_tweaks markdown_deux_tags core_tags %}

{% block title %} {{ question.tags.all|first }} - {{ question.title }} - Code{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'highlightjs/foundation.min.css' %}">
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/foundation.min.css" integrity="sha512-RgUfG84wvjIwNHlKPU63D8S8IItsNhZZ5kfjpvhGAfr529lt67Ys4/2RAA/NYhsb2HBfcxUXMX3NEJswqpT1tg==" crossorigin="anonymous" /> {% endcomment %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-sm-9 ">    
   <div class="text-center mobile">
      <div class="btn-group btn-group-sm mb-3">
         <a class="btn btn-sm {% if 'question' in request.path %}btn-primary active{% endif %}" href="{% url 'question' %}" role="button">Questions</a>
         <a class="btn btn-sm text-secondary" href="{% url 'tags' %}" role="button">Tags</a>
         <a class="btn btn-sm text-secondary" href="{% url 'users' %}" role="button">Users</a>
         <a class="btn btn-sm text-secondary" href="{% url 'ask_question' %}" role="button">Ask</a>
      </div> 
   </div> 

<!-- vue-app start -->
<div id="question">
   <div  class="container pt-0 pl-md-3 mobile">

      <div class="row">

         <div class="col-12 pl-3 pr-2 border">
           <div class="row">
              <div class="col-12">
              <div class="row">
                <div class="col-2 bg-light">
                    <div class="row">
                     <div class="col-12 p-0 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">
                         <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                         </a>
                     </div>
                     <div class="col-12 p-0 text-center">
                        <h3 class="mb-0 text-secondary">[[ score ]]</h3>
                     </div>
                     <div class="col-12 p-0 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary"> 
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                        </i></a>
                     </div>
                  </div>
                </div>
                <div class="col-10 pt-2 pl-2">
                   <h6>{{ question.title|urlize }}</h6>
                   <br>
                   {% for tag in question.tags.all %}
                    <small><a href="{% url 'tag_question' tag.pk %}" class="badge mb-1 mt-0">{{ tag }}</a></small>
                 {% endfor %}
                </div>
              </div>
                 
              </div>
            </div>
         </div>
         
         <div class="col-12 pr-2 pl-2 pt-1">
            <span style="font-size:14px">{{ question.body|markdown }}</span>
         </div>

         <div class="col-12 pl-2">
  
               <small>
               
               <span class="text-secondary"> 
               <i class="fas fa-user-circle text-secondary"></i> 
               <a href="{% url 'user' question.asked_by.pk %}">{{ question.asked_by }}</a> 
               {% if user.is_authenticated %}
               <span class= "text-secondary mr-1">| </span> 
               <a class="text-secondary mr-2" href="{% url 'update_question' question.pk question.slug %}">edit</a>
               
               <a class="text-secondary ml-1" href="javascript:void(0)"  onclick="alert('are you sure you want to?')">delete</a>
               {% endif %}
               <span class= "text-secondary ml-1"> | </span>
               {{ question.posted_on|naturaltime }}</span> 
               </span> 
               
               </small>
         </div>

         {% if question.question_comments.count > 0 %}
         <div class="col-12 pl-0 pr-0">
            {% for comment in question.question_comments.all %}      
               <div class= "text-secondary font-italic border-bottom {% if forloop.first %}border-top{% endif %} bg-light pl-1"  style="font-size:13px">
                  {{ comment.text }} - <a href="{% url 'user' comment.posted_by.pk %}">{{ comment.posted_by }}</a> <span class="primary"> {{ comment.posted_on }}</span>
                  {% if comment.posted_by == user %}
                   <span class="text-danger">Edit Delete</span>
                 {% endif %} 
               </div> 
               
               {% endfor %}
           </div>      
         {% endif %}

         <div class="col-12 pl-2 now_question_add_comment-{{ question.pk }}" style="display:none">

           <form class="row pt-2" method="post" action="{% url 'comment_question' question.pk %}" novalidate>
            {% csrf_token %}
             <div class="col-12 pl-2 pr-0">
              <div class="form-group">
               <textarea class="form-control form-control-sm" id="id_text" name="text" rows="2" placeholder="Use comments to ask for more information"></textarea>
              </div>
            </div>
           <div class="col-12 pl-2">
             <div class="row mb-2">
             <div class="col-5">
              <button type="submit" class="btn btn-primary btn-sm" disabled> Comment </button>
             </div>
             <div class="col-7 pl-0">
              <small id="helpId" class="form-text text-muted">enter at least 15 characters.</small>
             </div>
            </div>
            </div>
         </form>

         </div>

          <div class="col-12 pl-2 text-center pb-1 add_comment_question">
            <small><a href="javascript:void(0)" class="add2" id="question_add_comment-{{ question.pk }}">add a comment</a></small>
         </div>

      </div>
   </div>


   <div class="laptop pb-4">
   </div>
  <div  class="container mb-2 pt-1 pb-3 pl-md-3 laptop mt-5 border" >

      <div class="row">

         <div class="col-12 pl-3 pr-2">
           <div class="row">

           <div class="col-12">
                <div class="row">
                   <div class="col-2">

                   </div>
                   <div class="col-10 pl-0">
                     <h5 class='mt-1'>{{ question.title|urlize }}</h5>
                   </div>
                </div>

              </div>

              <div class="col-12">
                <div class="row">
                   <div class="col-2">

                   </div>
                   <div class="col-10 pl-0">
                      <small>
                         <span class="mr-2"><span class='text-secondary'>viewed</span> {{ question.views }} time{{ question.views|pluralize}}</span>
                         <span class="mr-2"><span class='text-secondary'>Asked</span> {{ question.posted_on|date:"D d M Y" }}</span>
                     </small>
                   </div>
                </div>

              </div>
            </div>

             <hr>
         </div>

         <div class="col-12 pr-2 pl-2" >
            <div class="row">
              <div class="col-2">
                  <div class="row">
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">
                         <svg width="1.5em" height="1.8em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                         </a>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <h3 class="mb-0 text-secondary">[[ score ]]</h3>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary">
                        <svg width="1.5em" height="1.8em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                        </i></a>
                     </div>
                 </div>
              </div>

              <div class="col-10 pl-0">
                <span style="font-size:15px">{{ question.body|markdown }}</span>
              </div>
            </div>

         </div>

         <div class="col-12">
            <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">

                  {% for tag in question.tags.all %}
                     <a href="{% url 'tag_question' tag.pk %}" class="badge mb-1 mt-0">{{ tag }}</a>
                  {% endfor %}

               </div>
            </div>
         </div>


         <div class="col-12 pl-2">
          <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">
                  <div class="row">
                   <div class="col-8 pl-3">
                  {% if question.asked_by == user %}
                  <small>
                    <a class="text-secondary" href="{% url 'update_question' question.pk question.slug %}">edit</a>
                    <span class= "mr-3"></span>
                    <a class="text-secondary" href="javascript:void(0)"  onclick="alert('are you sure you want to?')">delete</a>
                  </small>
                  {% endif %}
                  </div>

                     <div class="col-3 bg-light pb-1">
                        <div class="row">
                          <div class="col-12">
                              <span class="text-secondary"><small>{{ question.posted_on|naturaltime}}</small></span>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-3">
                               {% if question.asked_by.display_photo %}
                                  <img src="{{ question.asked_by.display_photo.url }}"  class="rounded" width="28" height="28"/>
                                {% else %}
                                  <img src="{{ question.asked_by|gravatar:28 }}"  class="rounded" width="28" height="28"/>
                                {% endif %}
                              </div>
                              <div class="col-9 p-0 pl-1">

                              <small>
                              <span>
                              <a href="{% url 'user' question.asked_by.pk %}">{{ question.asked_by }}</a>
                               </span>
                               <span>
                             <b class="text-secondary">{{ question.asked_by.points|intcomma }}</b>
                              </span>
                             </small>
                              </div>
                             </div>
                          </div>
                       </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>

          {% if question.question_comments.count > 0 %}
         <div class="col-12 pl-2">
          <div class="row pt-2">
             <div class="col-2">
             </div>
             <div class="col-10 pl-0">
                {% for comment in question.question_comments.all %}
                 <div class= "font-italic border-top {% if forloop.last %}border-bottom{% endif %}" style="font-size:14px">
                  {{ comment.text }} -<a href="{% url 'user' comment.posted_by.pk %}" class="badge">{{ comment.posted_by }}</a> <span class="text-secondary">{{ comment.posted_on }}</span>
                  {% if comment.posted_by == user %}
                  <span class="text-danger newt"> edit  delete</span>
                  {% endif %}
                </div>
               {% endfor %}
             </div>
          </div>
         </div>
         {% endif %}

         <div class="col-12 pl-2 now_question_add_comment-{{ question.pk }}" style="display:none">
         <form method="post" action="{% url 'comment_question' question.pk %}" class="row pt-2 laptop" novalidate>
           {% csrf_token %}
             <div class="col-2">
             </div>
             <div class="col-10 pl-0">
              <div class="row">
                <div class="col-10 pr-2">
                  <div class="form-group">
                    <textarea class="form-control form-control-sm"  rows="2"  id="id_text" name="text" rows="2" placeholder="Use comments to ask for more information"></textarea>
                    <small id="helpId" class="form-text text-muted">enter at least 15  characters.</small>
                  </div>
                 </div>
                <div class="col-2 p-0 pr-2">
              <button type="submit" class="btn btn-primary btn-sm" disabled> Comment </button>
             </div>
           </div>
          </div>
         </form>
         </div>

         <div class="col-12 pl-2 add_comment_question">
          <div class="row">
             <div class="col-2">
             </div>
              <div class="col-10 pl-0">
               <small><a href="javascript:void(0)" class="add2" id="question_add_comment-{{ question.pk }}">add a comment</a></small>
             </div>
          </div>
         </div>

      </div>
   </div>

   <div  class="container border mb-2 mobile">
       <div class="row">
        <div class="col-12 pt-0 pl-2 pb-1">
        <span>{{ answers.count|intcomma }} Answers</span>
       </div>
       </div>
     </div>

   <div class="container mb-2 laptop">
      <div class="row">
         <div class="col pl-0 pr-0 pt-2">

            <span class="pt-3">{{ answers.count|intcomma }} Answers</span>

         <small>
            <div class="btn-group float-right">
               <button type="button" class="btn btn-sm btn-outline-secondary">active</button>
               <button type="button" class="btn btn-sm btn-outline-secondary">oldest</button>
               <button type="button" class="btn btn-sm btn-outline-secondary">votes</button>
            </div>
         </small>

         </div>
      </div>

   </div>

    <answer v-for="answer in answers" v-bind:key="answer.pk" v-bind:answer="answer"></answer>

</div>
<!-- vue-app end -->

      <div  class="container mb-3">
        <div class="row">
         {% if user.is_authenticated %}
            {% if user_answers.count > 0 %}
               <div class="col-12 mt-3">
               <div id="answer_div">

                     <a class="btn btn-sm btn-primary btn-block" id="remove" data-toggle="collapse" href="#contentId" aria-expanded="false" aria-controls="contentId">
                              Add another answer
                     </a>
                  </div>
               </div>
                <div class="col-12 p-0">
                     <div class="collapse" id="contentId">
                        <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                           {% csrf_token %}
                           {{ form.media }}
                           {% for field in form.visible_fields %}
                              <div class="form-group">
                              <div class="row mobile">
                               <div class="col-12 bg-light border-top border-bottom" >
                              <label for="{{ field.id_for_label }}">Your Answer</label>
                            </div>
                           </div>
                           <label for="{{ field.id_for_label }}" class="laptop">Your Answer</label>
                              {{ field|add_class:'form-control' }}
                              </div>
                           {% endfor %}

                           <hr class="mobile">

                           <button type="submit" class="btn btn-sm btn-primary" disabled>Post Your Answer</button>

                        </form>
                     </div>
                 </div>
            {% else %}
                 <div class="col-12">
                  <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                     {% csrf_token %}
                     {{ form.media }}

                        {% for field in form.visible_fields %}
                           <div class="form-group">
                             <div class="row mobile">
                               <div class="col-12 bg-light mt-1 border-top boder-bottom" >
                              <label for="{{ field.id_for_label }}" class="mb-0">Your Answer</label>
                            </div>
                           </div>
                           <label for="{{ field.id_for_label }}" class="laptop">Your Answer</label>
                           {{ field|add_class:'form-control' }}
                           </div>
                        {% endfor %}

                        <hr class="mobile">

                     <button type="submit" class="btn btn-sm btn-primary" disabled>Post Your Answer</button>
                    
                  </form>
               </div >
            {% endif %} 
               

        {% else %}
         <div class="col-12 laptop">
            <p><a href="{% url 'account_login' %}">login to answer this question</a></p>
          </div>
        {% endif %}

       </div>
     </div> 

     <div  class="container mb-3 laptop" >
       Not the answer you're looking for? Browse other questions tagged 
       {% for tag in question.tags.all %}
         <a href="{% url 'tag_question' tag.pk %}" class="badge">{{ tag }}</a>
       {% endfor %}
       or  <a href="{% url 'ask_question' %}">ask your own question.</a>
     </div>


         
      </div>
      <div class="col-3 mt-5 laptop">
       <div class="row">
         <div class="col-12 mb-3 mt-4">
           <div class="card shadow-sm">
             <div class="card-header"> hello World</div>
             <div class="card-body">
               <p class="card-text">
                  <ul>
                    <li>Active item</li>
                    <li>Item</li>
                    <li>Disabled item</li>
                 </ul>
               </p>
             </div>
           </div>
         </div>
         <div class="col-12">
           <div class="card shadow-sm">
             <div class="card-header"> hello World</div>
             <div class="card-body">
               <p class="card-text">
                  <ul>
                    <li>Active item</li>
                    <li>Item</li>
                    <li>Disabled item</li>
                 </ul>
               </p>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>



{{ question.score|json_script:"score" }}
{{ upvoted|json_script:"upvoted" }}
{{ downvoted|json_script:"downvoted" }}
{{ answers_serialized|json_script:"answers_serialized" }}

<script src="{% static 'highlightjs/highlight.min.js' %}"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js" integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A==" crossorigin="anonymous"></script> {% endcomment %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
