{% extends "main.html" %}

{% load static humanize crispy_forms_tags widget_tweaks markdown_deux_tags core_tags %}

{% block title %} {{ question.tags.all|first }} - {{ question.title }} - Code{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'highlightjs/foundation.min.css' %}">
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/foundation.min.css" integrity="sha512-RgUfG84wvjIwNHlKPU63D8S8IItsNhZZ5kfjpvhGAfr529lt67Ys4/2RAA/NYhsb2HBfcxUXMX3NEJswqpT1tg==" crossorigin="anonymous" /> {% endcomment %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
     <div class="col-sm-9 mt-2">
       
   <div class="text-center mobile">
     <div class="btn-group btn-group-sm mb-3">
       <a class="btn btn-sm {% if 'question' in request.path %}btn-primary active{% endif %}" href="{% url 'question' %}" role="button">Questions</a>
       <a class="btn btn-sm text-secondary" href="{% url 'tags' %}" role="button">Tags</a>
       <a class="btn btn-sm text-secondary" href="{% url 'users' %}" role="button">Users</a>
       <a class="btn btn-sm text-secondary" href="{% url 'ask_question' %}" role="button">Ask</a>
     </div> 
   </div> 

<!-- vue-app start -->
<div id="question">
   <div  class="container pt-1 pb-1 pl-md-3 mobile" style="border:1px solid lightgray;">

      <div class="row">

         <div class="col-12 pl-3 pr-2">
           <div class="row">
              <div class="col-12">
              <div class="row">
                <div class="col-2">
                    <div class="row">
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">
                         <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                         </a>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <h3 class="mb-0 text-secondary">[[ score ]]</h3>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary"> 
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                        </i></a>
                     </div>
                  </div>
                </div>
                <div class="col-10 pt-2 pl-2">
                   <h6>{{ question.title|urlize }}</h6>
                   <br>
                   {% for tag in question.tags.all %}
                    <small><a href="{% url 'tag_question' tag.pk %}" class="badge mb-1 mt-0">{{ tag }}</a></small>
                 {% endfor %}
                </div>
              </div>
                 
              </div>
            </div>

             <hr>
         </div>
         
         <div class="col-12 pr-2 pl-2" >
            <span style="font-size:12px">{{ question.body|markdown }}</span>
         </div>

         <div class="col-12 pl-2">
         {% if question.asked_by == user %}
               <small>
               {% if user.is_authenticated %}
               <span class="text-secondary"> 
               <i class="fas fa-user-circle text-secondary"></i> 
               <a href="{% url 'user' user.pk %}">{{ question.asked_by }}</a> 
               <span class= "text-secondary mr-1"> | </span> 
               <a class="text-secondary mr-2" href="{% url 'update_question' question.pk question.slug %}">edit</a>
               
               <a class="text-secondary ml-1" href="#">delete</a>
               <span class= "text-secondary ml-1"> | </span>
               {{ question.posted_on|naturaltime }}</span> 
               
               </span> 
               {% endif %}
               </small>
            {% else %}
            <small>
               <span class="text-secondary"> 
                  <i class="fas fa-user-circle"></i> 
                  <a href="javascript:void(0)">{{ question.asked_by }}</a>
                  <span class="float-right"><i class="fas fa-clock"></i> {{ question.posted_on|naturaltime }}</span>
               </span> 
              </small>
            {% endif %}
         </div>
      </div> 
   </div>


   <div class="laptop pb-3">
   </div>
  <div  class="container mb-2 pt-1 pb-3 pl-md-3 laptop mt-5" style="border:1px solid lightgray;">

      <div class="row">

         <div class="col-12 pl-3 pr-2">
           <div class="row">

           <div class="col-12">
                <div class="row">
                   <div class="col-2">
                      
                   </div>
                   <div class="col-10 pl-0">
                     <h5 class='mt-1'>{{ question.title|urlize }}</h5>
                   </div>
                </div>
                
              </div>

              <div class="col-12">
                <div class="row">
                   <div class="col-2">
                      
                   </div>
                   <div class="col-10 pl-0">
                      <small>
                         <span class="mr-2"><span class='text-secondary'>viewed</span> {{ question.views }} time{{ question.views|pluralize}}</span>
                         <span class="mr-2"><span class='text-secondary'>Asked</span> {{ question.posted_on|date:"D d M Y" }}</span>
                     </small>
                   </div>
                </div>
                
              </div>
            </div>

             <hr>
         </div>
         
         <div class="col-12 pr-2 pl-2" >
            <div class="row">
              <div class="col-2">
                  <div class="row">
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('upvote', upvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[upvoted ? 'done' : '']]" class="text-secondary">
                         <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
                         </a>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <h3 class="mb-0 text-secondary">[[ score ]]</h3>
                     </div>
                     <div class="col-12 p-0 pl-2 text-center">
                        <a href="javascript:void(0)" v-on:click="vote('downvote', downvoted, '{% url 'vote_question' question.pk question.slug %}')" :class="[[downvoted ? 'done' : '']]" class="text-secondary"> 
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                        </i></a>
                     </div>
                 </div>
              </div>
              
              <div class="col-10 pl-0">
                <span style="font-size:14px">{{ question.body|markdown }}</span>
              </div>
            </div>
            
         </div>

         <div class="col-12">
            <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">
                  <div>
                  {% for tag in question.tags.all %}
                     <a href="{% url 'tag_question' tag.pk %}" class="badge mb-1 mt-0">{{ tag }}</a>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 pl-2">
          <div class="row">
               <div class="col-2">
               </div>
               <div class="col-10 pl-0">
                  <div class="row">
                   <div class="col-8 pl-3">
                  {% if question.asked_by == user %}
                  <small>
                    <a class="text-secondary" href="{% url 'update_question' question.pk question.slug %}">edit</a>
                    <span class= "mr-3"></span>
                    <a class="text-secondary" href="#">delete</a>
                  </small>
                  {% endif %}
                  </div>

                     <div class="col-3 ml-5 bg-light pb-1 mr-1">
                        <div class="row">
                          <div class="col-12">
                              <span class="text-secondary"><small>asked {{ question.posted_on|naturaltime}}</small></span>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-3">
                               <img src="{{ question.asked_by|gravatar:28 }}"  class="rounded" width="28" height="28"/>
                               {% comment %} {% if question.asked_by.display_photo.url %}
                                  <img src="{{ question.asked_by.display_photo.url }}"  class="rounded" width="28" height="28"/>
                                {% else %}
                                  <img src="{{ question.asked_by|gravatar:28 }}"  class="rounded" width="28" height="28"/>
                                {% endif %} {% endcomment %}
                              
                              </div>
                              <div class="col-9 p-0 pl-1">
                              
                              <small>
                              <span>
                              <a href="javascript:void(0)">{{ question.asked_by }}</a>
                               </span>
                               <span>
                             <b class="text-secondary">{{ question.asked_by.points|intcomma }}</b>
                              </span>
                             </small>
                             
                              </div>
                             </div>
                                        
                          </div>
                       </div>
                       
                     </div>
                   </div>
            
               </div>
            </div>
         </div>
      </div> 
   </div>

   <div  class="container border-left-0 border-right-0  mb-2 mobile" style="border:1px solid lightgray;">
       <div class="row">
        <div class="col-12 p-1 bg-light">
        <span><small>{{ answers.count|intcomma }} Answers</small></span>
       </div>
       </div>
     </div>

   <div class="container mb-2 laptop">
      <div class="row">
         <div class="col pl-0 pr-0 pt-2">
         
            <span class="pt-3">{{ answers.count|intcomma }} Answers</span> 

         <small>
            <div class="btn-group float-right">
               <button type="button" class="btn btn-sm btn-outline-secondary">active</button> 
               <button type="button" class="btn btn-sm btn-outline-secondary">oldest</button>
               <button type="button" class="btn btn-sm btn-outline-secondary">votes</button>
            </div>
         </small>

         </div>
      </div>
       
   </div>

      <answer
      v-for="answer in answers"
      v-bind:key="answer.pk"
      v-bind:answer="answer"
      ></answer>

</div>
<!-- vue-app end -->

      <div  class="container mb-3">
        <div class="row">
         {% if user.is_authenticated %}
            {% if user_answers.count > 0 %}
               <div class="col-12 mt-3">
               <div id="answer_div"> 
                      
                     <a class="btn btn-sm btn-primary btn-block" id="remove" data-toggle="collapse" href="#contentId" aria-expanded="false" aria-controls="contentId">
                              Add another answer
                     </a>      
                  </div>
               </div>
                <div class="col-12 p-0">
                     <div class="collapse" id="contentId"> 
                        <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                           {% csrf_token %}            
                           {{ form.media }}
                           {% for field in form.visible_fields %}
                              <div class="form-group">
                              <div class="row mobile">
                               <div class="col-12 bg-light border-left-0 border-right-0" style="border:1px solid lightgray;">
                              <label for="{{ field.id_for_label }}">Your Answer</label>
                            </div>
                           </div>
                           <label for="{{ field.id_for_label }}" class="laptop">Your Answer</label>
                              {{ field|add_class:'form-control' }}
                              </div>
                           {% endfor %}

                           <hr class="mobile">
                          
                           <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                        
                        </form>
                     </div>
                 </div>
            {% else %}
                 <div class="col-12">
                  <form method="post" action="{% url 'reply_question' question.pk question.slug %}" novalidate>
                     {% csrf_token %}
                     {{ form.media }}
                   
                        {% for field in form.visible_fields %}
                           <div class="form-group">
                             <div class="row mobile">
                               <div class="col-12 bg-light mt-1 border-left-0 border-right-0" style="border:1px solid lightgray;">
                              <label for="{{ field.id_for_label }}" class="mb-0">Your Answer</label>
                            </div>
                           </div>
                           <label for="{{ field.id_for_label }}" class="laptop">Your Answer</label>
                           {{ field|add_class:'form-control' }}
                           </div>
                        {% endfor %}

                        <hr class="mobile">

                     <button type="submit" class="btn btn-sm btn-primary">Post Your Answer</button>
                    
                  </form>
               </div >
            {% endif %} 
               

        {% else %}
         <div class="col-12 laptop">
            <p><a href="{% url 'account_login' %}">login to answer this question</a></p>
          </div>
        {% endif %}

       </div>
     </div> 

     <div  class="container mb-3 laptop" >
       Not the answer you're looking for? Browse other questions tagged 
       {% for tag in question.tags.all %}
         <a href="{% url 'tag_question' tag.pk %}" class="badge">{{ tag }}</a>
       {% endfor %}
       or  <a href="{% url 'ask_question' %}">ask your own question.</a>
     </div>


         
      </div>
      <div class="col-3 mt-5 laptop">
       <div class="row">
         
       </div>
    </div>
  </div>



{{ question.score|json_script:"score" }}
{{ upvoted|json_script:"upvoted" }}
{{ downvoted|json_script:"downvoted" }}
{{ answers_serialized|json_script:"answers_serialized" }}

<script src="{% static 'highlightjs/highlight.min.js' %}"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js" integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A==" crossorigin="anonymous"></script> {% endcomment %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
