{% extends "main.html" %}

{% load static widget_tweaks crispy_forms_tags %}

{% block title %}Ask a Question - code{% endblock title %}


{% block content %}
<div class="row  justify-content-center pt-3">
    <div class="col-12 mt-5 laptop">
         <h3>Ask a Question</h3>
      </div>      
        
     <div class="col-sm-9">

     {{ form.media.css }}

      <div class="card mb-3">
         <div class="card-body">
         <form method="post" novalidate>
            {% csrf_token %}
            <small>
            {{ form|crispy }}
            </small>
         </div>
      </div>
    
      <div class="form-group mb-5">
      <button type="submit" class="btn btn-primary btn-sm">
      {% if 'update' in request.path %}
      Save Edits
      {% else %}
      Post your question
      {% endif %}
      </button>
         
         <a href="{% url 'home' %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

    </form>
    <script src="{% static 'jquery.min.js' %}"></script>
    {{ form.media.js }}
    
    </div>
    <div class="col-3 mt-5 laptop">
       <div class="row">
          
       </div>
    </div>
  </div>
    
{% endblock %}


