{% extends "main.html" %}

{% load static widget_tweaks crispy_forms_tags %}

{% block title %}Ask a Question - code{% endblock title %}


{% block content %}
<div class="mb-2">
  <marquee><h4>Ask a question</h4></marquee>
</div>

   {{ form.media.css }}

      <div class="card mb-3">
         <div class="card-body">
         <form method="post" novalidate>
            {% csrf_token %}
            <small>
            {{ form|crispy }}
            </small>
         </div>
      </div>
    
      <div class="form-group mb-5">
         <button type="submit" class="btn btn-primary btn-sm">Post your question</button>
         <a href="{% url 'home' %}" class="btn btn-sm btn-outline-danger">Cancel</a>
      </div>

    </form>
    <script src="{% static 'jquery.min.js' %}"></script>
    {{ form.media.js }}
    
{% endblock %}


