{% extends "main.html" %}

{% load static humanize %}

{% block title %}code | Users{% endblock title %}


{% block content %}
<div  class="container mb-1">
  <div class="row">
    {% for user in users %}
      <div class="col-sm-6 mb-1 mr-1"  style="border:1px solid lightgray">
        <b><a href="{% url 'user' user.pk %}">{{ user }}</a></b> <span class="text-secondary">|</span> <span> {{ user.points }} points</span>
      </div>
    {% endfor %} 
  </div>
</div>
{% endblock %}
