@media only screen and (max-width: 1000px) {
  .mainfooter,
  .laptop {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #layoutError_footer,
  #mobile-ask,
  .mobile {
    display: none; 
  }
  /* body {
    font-family: sans-serif;
  } */
  
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}
footer {
  background: #343a40;
  color: white;
  margin-top: 100px;
}


footer ul a {
  color: #fff;
}

footer ul a:hover {
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*Social Icons*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoGithub:hover {
  background-color: #24292e;
}

.social-network a.icoTwitter:hover {
  background-color: #00a6da;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoGithub:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.badge {
  background-color: #e1ecf4;
  color: #39739d;
}
a.done:link,
a.done:hover,
a.done:visited,
a.done:active {
  color: forestgreen !important;
}
code {
  margin: 2px;
  padding: 0px 3px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #444;
  font-size: 95%;
}
a code {
  color: #447e9b;
}

/* Block code */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 15px 0;
  padding: 10px;
  color: #333;
  margin: 0 0 15px 0;
  padding-left: 1em;
  background-color: #eee;
}

pre code {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutError #layoutError_footer {
  min-width: 0;
}
